@media (min-width: 768px) {
  .fa.fa-bars,
  .program-btn,
  .fa.fa-times-circle-o {
    display: none;
  }

  .login {
    background-color: #272a31;
    display: flex;
    justify-content: end;
    height: 35px;
    padding: 0 13rem;
  }

  .login i {
    font-size: 2rem;
  }

  ul li {
    list-style: none;
    margin: 1rem;
    text-decoration: none !important;
  }

  .social {
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
  }

  .social:hover {
    color: #ec5242;
  }

  .social.text {
    text-decoration: none;
    margin: 0  0 16rem 0;
  }

  #navbar {
    display: flex;
    justify-content: space-around;
  }

  .nav-logo {
    font-size: 3.4rem;
  }

  .nav-logo a {
    text-decoration: none;
    color: #272a31;
  }

  .about-logo span {
    color: #ec5242;
  }

  .fa.fa-snowflake-o {
    margin-top: 1rem;
    margin-right: 1rem;
  }

  .navlist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
  }

  .nav-item {
    text-decoration: none !important;
    font-size: 2rem;
    padding: 0 1.5rem 0 1.8rem;
    color: #272a31;
  }

  .nav-item:hover {
    color: #ec5242;
  }

  .nav-item:active {
    color: #ec5242;
  }

  .nav-item.tech {
    border: 5px solid #ec5242;
    padding: 1rem 2.4rem;
    color: #ec5242;
  }

  #hero {
    background-image: url('imgs/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 16rem;
    padding-bottom: 16rem;
  }

  .hero-header {
    color: #ec5242;
    font-weight: 900;
    font-size: 5rem;
    text-transform: uppercase;
    margin: 1.8rem 14rem;
  }

  .hero-text {
    color: #272a31;
    width: 40vw;
    line-height: 2.5rem;
    margin: 1.8rem 14rem;
    border: 1px solid #fff;
    padding: 0.9rem;
    font-size: 1.6rem;
  }

  .venue {
    margin: 1.8rem 14rem;
    padding: 0.9rem;
    font-size: 1.6rem;
  }

  .venue .text-strong {
    font-weight: 900;
    font-size: 3.2rem;
  }

  .venue .text-small {
    font-size: 2.2rem;
  }

  #main-program {
    background-color: #272a31;
    padding-top: 2rem;
    padding-bottom: 6rem;
  }

  .program-header {
    color: #fff;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 2.5rem;
  }

  .bar {
    background-color: #ec5242;
    height: 0.1rem;
    width: 3%;
    margin: 0 auto;
  }

  .program-content {
    display: flex;
    justify-content: center;
    margin: 1.3rem 29rem;
    gap: 1rem;
  }

  .program {
    display: block;
    width: 40rem;
    background-color: #363a44;
    padding: 2rem 2rem;
    color: #fff;
  }

  .program:hover {
    outline: 2px solid #fff;
    cursor: pointer;
  }

  .program .fa.fa-calendar-o {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ec5242;
    font-size: 2.5rem;
    margin: 1rem 0;
  }

  .program .fa.fa-ravelry {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ec5242;
    font-size: 2.5rem;
    margin: 1rem 0;
  }

  .program .fa.fa-microchip {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ec5242;
    font-size: 2.5rem;
    margin: 1rem 0;
  }

  .program .fa.fa-trophy {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ec5242;
    font-size: 2.5rem;
    margin: 1rem 0;
  }

  .program .fa.fa-handshake-o {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ec5242;
    font-size: 2.5rem;
    margin: 1rem 0;
  }

  .program h3 {
    display: flex;
    align-items: center;
    color: #ec5242;
    margin: 1rem 2rem;
    font-weight: 400;
    font-size: 2.5rem;
  }

  .program p {
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
  }

  .Agenda-text {
    color: #fff;
    text-align: center;
    margin-top: 6rem;
    font-size: 1.6rem;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
  }

  #speakers {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .speakers-header {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
  }

  .dash {
    background-color: #363a44;
    height: 0.1rem;
    width: 5%;
    margin-bottom: 0.5rem;
  }

  #contain-speakers {
    display: grid;
    grid-template-columns: auto auto;
    margin: 1rem 24rem;
  }

  .f-speaker {
    display: flex;
    justify-content: center;
    margin: 1.8rem 2rem;
    padding: 1.2rem;
    gap: 2rem;
  }

  .description h3 {
    font-weight: 700;
    font-size: 2rem;
  }

  .description .position {
    color: #ec5242;
    font-style: oblique;
    font-weight: 700;
    padding-bottom: 0.5rem;
  }

  .description .experience {
    font-size: 1.3rem;
  }

  #partners {
    padding-top: 2rem;
    padding-bottom: 6rem;
    background-color: #272a31;
  }

  #partners h2 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: 2.5rem;
    color: #fff;
  }

  .partners-logo {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  .google {
    margin: 0 2rem;
    color: #272a31;
  }

  /* ABOUT PAGE */

  #heros {
    background-image: url('imgs/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 16rem;
    padding-bottom: 16rem;
  }

  .hero-header-about {
    color: #ec5242;
    font-weight: 900;
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
  }

  .hero-text-about {
    display: flex;
    justify-content: center;
    color: #000;
    line-height: 2rem;
    background-color: #fff;
    margin: 1.8rem 26rem;
    border: 1px solid #d3d3d3;
    padding: 0.9rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .text-small-about {
    font-size: 1.5rem;
    margin: 0 2rem;
    text-align: center;
    padding: 0.9rem;
    line-height: 2rem;
  }

  .text-small-about span {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-weight: bold;
  }

  #about-logo {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

  .about-header {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: 3rem;
  }

  .about-text {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    margin: 0 26rem;
  }

  .about-log {
    border: 1px solid #d3d3d3;
    font-weight: bold;
    font-size: 6rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    margin: 4rem 46rem;
  }

  .about-log span {
    color: #ec5242;
  }

  #past-submit {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  .past-submit-header {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: 3rem;
  }

  .submit-text {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    margin: 0 2rem;
  }

  .past-submit-imgs {
    margin: 2rem 30rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  #past-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:
      linear-gradient(to bottom, rgba(236, 82, 66, 0.52), rgba(236, 82, 66, 0.73)),
      url('imgs/past-img.jpeg');
    width: 100%;
    height: 200px;
    background-size: cover;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    margin: 1rem 0;
  }

  #past-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:
      linear-gradient(to bottom, rgba(236, 82, 66, 0.52), rgba(236, 82, 66, 0.73)),
      url('imgs/past-img1.jpeg');
    width: 100%;
    height: 200px;
    background-size: cover;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    margin: 1rem 0;
  }

  #footer {
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0 16rem;
  }

  .logo {
    font-size: 2rem;
    border: none;
  }

  .footer-text {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
  }

  .footer-logo {
    font-size: 4rem;
  }
}
